body{background-color: #f1f2f3 !important;}

/*个人中心主体*/
#content{width: 1200px;margin: 0 auto;padding-bottom: 24px;}
.layer {width: 100%;margin: 0 auto;}
.layer .tube {  width: 100%; margin: 0 auto; }
.tube .blockmb {  margin-bottom: 20px;  }

/*个人中心头部*/
.people-header {  margin:0 auto;position: relative;  width: 1200px;  height: 356px;  background:#ccc}
.people-header-left {width:488px;}
.people-header-right {width:712px;}
.people-header-left,.people-header-right {  position: relative;  float: left;  overflow: hidden;  height: 356px;}
.people-header-left #personBackPic{-webkit-filter: blur(15px);  /* chrome, opera */}
.people-header-left .header-bg-mask {  position: absolute;  top: 0;  left: 0;  width: 488px;  height: 356px;   }

/*个人中心用户个人信息管理*/
.woo-holder{margin:0 auto;min-height:500px;}
.people-nav-wrap {margin-bottom: 40px;background-color: #fff;height:64px;}
.people-nav{text-align:center;margin-left:212px;}
.people-nav li{float:left;height:61px;font:14px/61px '微软雅黑';color:#888888;cursor:pointer;}
.woo-self{width:100px;}
.woo-other{width:145px;}
.nav-bottom, .nav-bottom-span {height: 3px;overflow: hidden;}
.nav-bottom{position:relative;margin-top:-10px;}
.nav-bottom-span {position: absolute;bottom: 0;background-color: #dedfe0;left:215px;}
.content-info{width:100%;margin-bottom:20px;}

/* 专辑样式 */
.disInfo{width:100%;margin-bottom:25px;}
.pageInfo{text-align:center;}
.pageInfo ul{display:inline-block;}
.pageInfo ul li{font-weight: 700;color:#fff;background-color: #5BA5E8;width:50px;height:36px;border-radius:3px;float:left;margin-left:20px;text-align:center;line-height:36px;display:inline;}

.add-album{
    position: absolute;
    width: 224px;
    height: 308px;
    background-image: url(/picture/home/addalbum.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.add-album-info{
	position: absolute;
	top: 180px;
	left: 84px;
	color: #888888;
}

.gn{
	margin-top: 0px !important;
}



